<% content_for :title do %>
    <title>アイテムを追加 - Monolist</title>
    <meta content="" name="description">
    <meta content="Monolist" name="keywords">
<% end %>

<div class="search-result">
  <% if @item.present? %>
    <div class="alert alert-info">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      create
    </div>
    <%= render 'item' , item: @item %>
  <% elsif params[:q].present? %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      検索したアイテムはありません
    </div>
  <% end %>
</div>
